<!doctype html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <title>Hello, world!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>欢迎来到刘家兄弟英语教学平台</h1>
    <div class="topic">
        <div id="kfcOrderFood">
            <p>您可以在故事中背单词，您先选择不会的单词，然后由人工智能生成故事</p>
            <p>以下单词您是否认识：</p>
            <p id="word">
                <%= word %>
            </p>
            <form method="post" action="/button" >
                <button name="word" type="submit" value="know">认识</button>
                <button name="word" type="submit" value="unknown">不认识</button>
            
                
            </form>
            
            
        </div>
        
    </div>
    
    <!-- <script src="./listen.js"></script> -->
</body>

</html>